body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

/* main.html*/
.popularity {
    max-width: 80%;
    margin: 30px auto;
    /* 중앙 정렬을 위해 추가 */
}

.option-container {
    display: inline-flex;
    /* 이미지와 텍스트를 가로로 나란히 배치 */
    margin-bottom: 10px;
    /* 아래쪽 여백 추가 */
}

.option-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    /* 이미지와 텍스트 사이의 간격 조절 */
}

.post-boxes {
    height: 500px;
    width: 100%;
    display: flex;
    /* post-box를 가로로 정렬하기 위해 flex 컨테이너로 설정 */
    justify-content: space-between;
    /* 각 post-box를 컨테이너 양쪽 끝에 배치 */
    gap: 10px;
}

.post-box {
    width: 100%;
    /* 각 박스의 너비를 30%로 설정하여 가로로 세 개가 보이도록 함 */
    height: 100%;
    padding: 20px;
    /* 내부 여백 설정 */
    align-items: center;
}

.post-content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-title{
    font-weight: bold;
    margin-bottom: 5px;
}

.post-details{
    margin-bottom: 10px;
}

.post-footer {
text-align: right;
}

.slider {
    width: 100%;
    max-width: 80%;
    height: 300px;
    margin: 10px auto;  /* 중앙 정렬 및 상단 여백 추가 */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.text {
    padding: 20px;
    text-align: center;
}
.text h1 {
    font-size: 24px;
    color: #333;
}
.slide img {
    width: auto;
    max-height: 100%;
    border-radius: 10px;
}
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.plus-container {
    margin-top: 15px;
    text-align: right;
}

.more-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #BDBDBD;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.more-button:hover {
    color: white;
    background-color: #424242;
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
}


.text {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.text h1 {
    font-size: 24px;
    color: #333;
}

.slides {
    flex: 1;
    display: flex;
    height: 100%;
    overflow: hidden;
}

.slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    /* 이미지 높이를 슬라이드 배너에 맞춤 */
    object-fit: cover;
    /* 이미지가 슬라이드 배너 크기에 맞게 조절 */
    border-radius: 10px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.map-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* board_form에서*/
li {
    display: flex;
    /* 요소를 수평으로 배치합니다 */
    list-style-type: none;
    /* 목록 점 제거*/
}

.option-icon {
    margin-right: 5px;
    /* 이미지와 텍스트 사이의 간격을 조절합니다 */
}

/* boardList_form*/
.filter-container {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
}
.category {
    cursor: pointer; /* 카테고리 이미지에 커서 포인터 설정 */
    /*margin-right: 10px; /* 카테고리 이미지 오른쪽 여백 */
}
.category-options {
    display: none;
    position: absolute;
    top: 40px; /* 카테고리 아래에 위치하게 조정 */
    right: 0;
    z-index: 10;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    max-height: 200px; /* 최대 높이 설정 */
    overflow-y: auto; /* 스크롤 가능하도록 설정 */
}
.category-options.active {
    display: block;
}
.category-options label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.category-options hr {
    border: none;
    border-top: 1px solid #ccc;
    /*margin: 5px 0;*/
}

.post-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-bottom: 20px; /* post-container와의 간격 조정 */
}
#category {
    display: none;
    position: absolute;
    top: 30px; /* 이미지 아래에 위치하게 조정 */
    right: 0;
    z-index: 10;
}
.category {
    cursor: pointer; /* 카테고리 이미지에 커서 포인터 설정 */
    margin-right: 10px; /* 카테고리 이미지 오른쪽 여백 */
}
.category-options {
    display: none;
    position: absolute;
    top: 40px; /* 카테고리 아래에 위치하게 조정 */
    right: 0;
    z-index: 10;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    max-height: 200px; /* 최대 높이 설정 */
    overflow-y: auto; /* 스크롤 가능하도록 설정 */
}
.category-options.active {
    display: block;
}
.category-options label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.category-options hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 5px 0;
}

.submit-container {
     display: flex;
     justify-content: center;/* 가로 중앙 정렬 */
     align-items: center; /* 세로 중앙 정렬 */
     margin-top: 10px; /* 위에 여백 추가 */
 }

#filter{
    margin-left: 10%;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.post {
    display: flex;
    width: 80%;
    height: 200px;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.post img {
    width: 200px;
    object-fit: cover;
}

.post-content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-details {
    margin-bottom: 10px;
}

.post-details div {
    margin-bottom: 5px;
}

.post-tags {
    margin-bottom: 10px;
}

.post-tags span {
    background-color: #eee;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    display: inline-block;
}

.post-footer {
    text-align: right;
}

.post-footer span {
    margin-left: 20px;
    color: #777;
}

/*메시지*/
.message-box {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 300px;
    padding: 15px;
    background: white;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.message-box.visible {
    display: block;
}

.toggle-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #ccc;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

/* 지도 디테일 지도*/
#containerMap {overflow:hidden; width: 500px; height:300px; position:relative; margin: 20px;}
#mapWrapper {width:100%; height:300px; position:relative;}
#map {width:100%; height:100%;}

.modal-box {
    width: 300px; /* 원하는 너비로 설정 */
    max-width: 100%; /* 작은 화면에서도 잘 보이도록 설정 */
    height: 400px;
}
.wrap{
    width:935px;
    margin:0 auto;
}

.round_img{
    border-radius:50%;
}

.txt_id{
    font-weight:bold;
}

/**************************
HEADER
**************************/
header{
    position: fixed;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
}

header .wrap{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 15px 0;
}

header a.logo{
    height: 20px;
    background: url('../img/다운로드.png') 0 center / contain no-repeat;
}

header .logo h1{
    height:100%;
    margin-left:35px;
    padding-left:15px;
    border-left:1px solid #262626;
    font-size:25px;
    line-height:15px;
    font-weight:100;
}

.search{
    display: flex;
    flex: 3.5;
    padding: 0 5px;
    margin: 0 15%;
    background: #fafafa;
    border: 1px solid #e8e8e8;
    text-align: center;
}

.search input[type=text]{
    position: relative;
    flex: 9;
    height: 25px;
    background: none;
    border: none;
}

.search button{
    flex: 1;
    color: #999;
}
.search button> .fas {
    position: relative;
}

.gnb{
    flex: 1.5;
}

.gnb ul{
    display: flex;
}

.gnb ul li{
    position: relative;
    flex: 2.5;
    font-size: 0;
    width: 25px;
    height: 25px;
    background-position:  center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.gnb ul li:before{
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -1.5px;
    width: 4px;
    height: 4px;
    background: #e04141;
    border-radius: 4px;
}
.gnb ul li.home{
    background-image: url(../img/home.png);
}
.gnb ul li.direct{
    background-image: url(../img/direct.png);
}
.gnb ul li.research{
    background-image: url('https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/explore.png');
}

.gnb ul li.like{
    background-image: url('https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png');
}

.gnb ul li.mypage{
    background-image: url('https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/profile.png');
}

.gnb ul li.mypage:before{
    display: none;
}

.gnb ul li a{
    display: block;
    height: 100%;
}

/**************************
MAIN LAYOUT
**************************/
main.wrap{
    display: flex;
    flex-direction: row-reverse;
    padding: 80px 0 100px;
}

/**************************
ASIDE
**************************/
aside{
    flex: 3.5;
}

/* my profile */
.my_profile{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.my_profile a.profile_img{
    flex:2;
}

.my_profile a.profile_img img{
    width: 55px;
    height: 55px;
}

.my_profile .my_id{
    flex: 8;
}

.my_profile .my_id p{
    color:  #999;
}
.my_id > button {
    flex: 2;
    color: #0095f6;
    font-size: 0.8em;
    font-weight: 500;
}



/* WIDGET - common */
.widget{
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}

.widget_ttl{
    display: flex;
    /*  justify-content 속성은 플렉스 요소의 수평 방향 정렬 방식을 설정
        1. flex-start : 기본 설정으로, 플렉스 요소는 플렉스 컨테이너의 앞쪽에서부터 배치됩니다.
        2. flex-end : 플렉스 요소는 플렉스 컨테이너의 뒤쪽에서부터 배치됩니다.
        3. center : 플렉스 요소는 플렉스 컨테이너의 가운데에서부터 배치됩니다.
        4. space-between : 플렉스 요소는 요소들 사이에만 여유 공간을 두고 배치됩니다.
        5. space-around : 플렉스 요소는 앞, 뒤, 그리고 요소들 사이에도 모두 여유 공간을 두고 배치됩니다.*/
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 0.8em;
}

.widget_ttl span{
    color: #999;
}

.widget .txt_id:hover{
    text-decoration: underline;
}

/* WIDGET - story */
.stories{
    padding-bottom: 0;
}
.widget.stories {
    width: 100%;
    max-height: 400px; /* 높이를 고정하거나 조정할 수 있습니다 */
    overflow: hidden;
}

/* img 요소 스타일 */
.widget.stories img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 영역에 맞게 조절됩니다 */
}

/* recommends 영역 스타일 */
.widget.recommends {
    width: 100%;
    max-height: 500px; /* 높이를 고정하거나 조정할 수 있습니다 */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* map 요소 스타일 */
.view_map #mapWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    width: 100%;
    height: 100%;
    background-color: #eaeaea; /* 지도가 로드되지 않을 때 표시될 배경색 */
}

.list_story{
    height: 200px;
    overflow-y: scroll;
}
/*  스크롤바역할을 한다.
    ::-webkit-scrollbar — 스크롤바 전체.
    ::-webkit-scrollbar-button — 스크롤바의 버튼
    (한 번 누를 때마다 위아래로 한 줄씩 오르내리는 위아래 화살표).
    ::-webkit-scrollbar-thumb — 드래그할 수 있는 스크롤 손잡이.
    ::-webkit-scrollbar-track — 흰색 막대 위에 회색 바가 존재할 경우의 스크롤바의 트랙(진행 표시줄).
    ::-webkit-scrollbar-track-piece — 손잡이에 의해 덮이지 않은 트랙(진행 표시줄)의 부분.
    ::-webkit-scrollbar-corner — 수평 스크롤바와 수직 스크롤바가 교차하는 곳의 하단 모서리.
                                주로 브라우저 창의 우측 하단 모서리에 위치한다.
    ::-webkit-resizer — 몇몇 요소들의 하단 모서리에 나타나는, 드래그 할 수 있는 사이즈 변경 손잡이.*/
.list_story::-webkit-scrollbar{
    width: 0;
}

.story{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* WIDGET - recommend*/
.recommends{
    padding-bottom:5px;
}

.recommend{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.recommend a.recommend_img{
    flex: 2;
}

.recommend a.recommend_img img{
    width: 45px;
    height: 45px;
}

.recommend .user_id{
    flex: 6;
}

.recommend .user_id p{
    color:  #999;
}

.recommend button{
    flex: 2;
    color: #0095f6;
    font-size: 0.8em;
    font-weight: 500;
}

/*menu*/
.menu ul li{
    position: relative;
    display: inline-block;
    line-height: 1.5;
    padding-right: 12px;
}

.menu ul li:before{
    content: "";
    position: absolute;
    top: 50%;
    right: 7px;
    width: 2px;
    height: 2px;
    margin-top: -1px;
    background: #b9b9b9;
}

.menu ul li a{
    color: #999;
    font-size: 0.8em;
}

.copyright{
    color: #999;
    font-size: 0.8em;
    padding-top: 20px;
}

/**************************
FEED BOARD
**************************/
div.feed_board{
    flex: 6.5;
    margin-right: 15px;
}

/* FEED - common */
.feed{
    background: #fff;
    border: 1px solid #e8e8e8;
}

/* FEED - top */
.new_poster{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.new_poster .poster_img{
    flex:1;
}

.new_poster .poster_img img{
    width:45px;
    height:45px;
}

.new_poster .poster_id{
    flex: 18;
    margin-left: 10px;
}

.new_poster button{
    flex: 1;
    font-size: 0;
    text-align: right;
}

.new_poster button .fas{
    flex: 0.4;
    font-size: 12px;
}

/* FEED - content */
.feed_imgs img,
.feed_imgs video{
    width: 100%;
}

.interactions{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 10px;
}

.interactions button{
    flex: 3;
    margin: 0 10px;
    font-size: 0;
}

.interactions button.bookmark{
    flex: 1;
}

.interactions button .far{
    font-size: 20px;
    color: #676767;
}
.interactions .my_emotion{
    display: flex;
    flex: 2;
    margin: 5px;
}

.pagnation{
    flex:25;
}

.like_user img{
    width: 25px;
    height: 25px;
}

.feed_imgs p{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.feed_imgs p .like_user{
    display: flex;
    align-items: center;
}

.feed_imgs p .txt_id{
    margin-left: 10px;
}

/* FEED - feed text */
.feed_txt{
    padding: 0 20px;
}

.feed_txt .txt_id{
    margin-right: 5px;
}

.feed_txt .more{
    color: #999;
}

/*comments*/
.comments{
    padding: 10px 20px;
}

.list_comment{
    margin-bottom: 10px;
    max-height: 457px;; /* 스크롤 가능한 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
    padding-right: 15px; /* 스크롤바가 콘텐츠를 가리지 않도록 패딩 추가 */
}
/* 웹킷 기반 브라우저 (크롬, 사파리)용 스크롤바 스타일링 */
 .list_comment::-webkit-scrollbar {
    width: 8px; /* 스크롤바 너비 */
}

.list_comment::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 모서리 둥글게 */
}

.list_comment::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3); /* 스크롤바 색상 (호버 시) */
}

.list_comment::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* 스크롤바 트랙 색상 */
}

/* Firefox용 스크롤바 스타일링 */
.list_comment {
    scrollbar-width: thin; /* 스크롤바 너비 */
    scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1); /* 스크롤바 색상 및 트랙 색상 */
}
.txt_comment{
    display:flex;
    margin-bottom: 5px;
}

.txt_comment > span{
    flex:9.8;
}

.txt_comment > span .txt_id{
    margin-right: 10px;
}

.txt_comment > span span{
    width: 100%;
}

.txt_comment button{
    flex: 0.2;
    color: #ddd;
}

.txt_comment button:hover{
    color: #777;
}

.post_comment{
    display: flex;
    align-content: center;
    padding: 20px 0 10px;
    border-top: 1px solid #e8e8e8;
}

.post_comment textarea{
    flex: 9;
    height: 30px;
    border: none;
    resize: none;
}

.post_comment textarea::-webkit-scrollbar{
    width: 0;
}

.post_comment button{
    flex: 1;
    color: #0095f6;
}
.gray-text {
    color: #d3d3d3;
}
.small-font {
    font-size: smaller;
}

.post {
    text-decoration: none;
    color: inherit;
}
.post:hover {
    text-decoration: none;
    color: inherit;

.no-border {
    border: none;
    outline: none; /* 추가: 포커스 시 테두리도 숨김 */
    resize: none; /* 추가: 크기 조절 막기 */
}
