<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<div layout:fragment="content">
<body>
    <!---MAIN--->
    <main class="container wrap">

        <!--FEED BOARD-->
        <div class="feed_board">

            <!--FEED COMPONENT-->
            <article class="feed">
                <!--top-->
                <div class="new_poster">
                    <div class="poster_img">
                        <img alt="follower profile image" class="round_img" src="./img/다운로드.jfif" />
                    </div>
                    <a href="#n" class="poster_id txt_id">Following ID</a>
                    <p th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}" class="gray-text"></p>
                    <div class="dropdown dropdown-end">
                        <div tabindex="0" role="button" class="ml-auto">
                            <img class="option-icon" src="/img/more.png" style="width: 20px; height: 20px;">
                        </div>
                        <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
                            <li><a>삭제</a></li>
                            <li><a>수정</a></li>
                        </ul>
                    </div>
                </div>

                <!--content-->
                <section class="feed_imgs">
                    <div>
                        <div class="card-text font-bold" th:text="${board.title}"></div>
                        <div id="boardAddress" th:text="${board.address}" class="small-font"></div>
                        <div th:text="${board.jibun}" class="small-font"></div>
                        <div th:text="${board.restName}"></div>
                        <div th:text="${board.content}"></div>
                    </div>
                    <input type="hidden" id="memberId" name="memberId" th:value="${memberId}">
                    <div class="interactions">
                        <div class="my_emotion">
                            <!--위에서 cdn을 링크로 삽입해서 여기서 클래스명으로 가져오면 사용할 수 있다.-->
                            <a th:href="@{|board/${board.id}/vote|}" class="recommend">
                                <i class="fa-solid fa-heart" style="color: #ff0000;"></i>
                                <span th:text="${#lists.size(board.voter)}"></span>
                            </a>
                            <span th:text="'💬 ' + ${board.commentList.size()}"></span>
                        </div>
                        <div class="pagnation"></div>
                        <button type="button" class="bookmark"><i class="far fa-bookmark"></i>bookmark</button>
                    </div>
                </section>

                <!--feed text-->

                <!--comment-->
                <div class="comments">
                    <div id="listComment" class="list_comment">
                        <section class="feed_txt">
                            <div th:each="comment : ${board.commentList}">
                                <div class="dropdown dropdown-end">
                                    <div class="flex flex-row items-center">
                                        <span th:text="${comment.member.loginId} + ' ' + ${comment.content}" class="font-bold"></span>
                                        <div class="flex-grow"></div> <!-- 이 부분을 추가하여 나머지 영역을 채우도록 설정 -->
                                        <div tabindex="0" role="button">
                                            <img class="option-icon" src="/img/more.png" style="width: 20px; height: 20px;">
                                        </div>
                                        <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
                                            <li><a>삭제</a></li>
                                            <li><a>수정</a></li>
                                        </ul>
                                    </div>

                                    <!-- 대댓글 반복 -->
                                    <div th:each="answer : ${comment.answerList}">
                                        <span th:text="${answer.member.loginId} + ' ' + ${answer.content}"></span>
                                        <div class="flex flex-row">
<!--                                            <form th:action="@{|/answer/modify/${answer.id}|}" th:object="${answerForm}" method="post">-->
<!--                                                <input type="text" name="content" placeholder="대댓글 수정">-->
<!--                                                <input type="submit" style="color: blue;" value="대댓글 수정">-->
<!--                                            </form>-->
<!--                                            <form th:action="@{|/answer/delete/${answer.id}|}" method="post">-->
<!--                                                <input type="submit" style="color: red;" value="삭제">-->
<!--                                            </form>-->
                                        </div>
                                    </div>
                                    <form th:action="@{|/answer/create/${comment.id}|}" th:object="${answerForm}" class="post_comment" method="post">
                                        <textarea name="content" type="in" placeholder="대댓글 달기..."></textarea>
                                        <button type="submit">게시</button>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                    <form th:action="@{|/comment/create/${id}|}" th:object="${commentForm}" id="post" class="post_comment" method="post">
                        <textarea name="content" type="in" placeholder="댓글 달기..."></textarea>
                        <button id="btnPost" type="submit">게시</button>
                    </form>
                </div>
            </article>
        </div>
        <!--//FEED BOARD-->
        <aside>
            <!--WIDGET - story-->
            <article class="widget stories">
                <img th:each="images : ${board.images}" th:src="@{|${images.url}|}" alt="음식사진" style="width:200px; height:100%;">
            </article>
            <!--//WIDGET - story-->
            <article class="widget recommends">
                <div id="containerMap" class="view_map">
                    <div id="mapWrapper">
                        <div id="map"></div>
                    </div>
                </div>
            </article>
            <!--//WIDGET - recommend-->
        </aside>
    </main>
    <!---//MAIN--->

</body>
</div>
<script type="text/javascript" src="./js/main.js"></script>
</html>