<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="filter">
        <label for="filter">필터:</label>
        <select id="filter">
            <option value="all">전체</option>
            <option value="popular">인기</option>
            <option value="recent">최신</option>
        </select>
    </div>

    <div class="post-container">
        <th:block th:each="board : ${boards}">
            <a class="post" th:href="@{|/board/${board.id}|}">
                <div th:if="${!#lists.isEmpty(board.images)}">
                    <img th:src="${board.images[0].url}" alt="음식사진" style="width:200px; height:100%;">
                </div>
                <div class="post-content">
                    <div class="post-title" th:text="${board.title}"></div>
                    <div class="post-details">
                        <div th:text="${board.restName}"></div>
                        <div th:text="${board.address}"></div>
                    </div>
                    <div class="post-tags">
<!--                        <span th:each="tag : ${board.tags}" th:text="${tag}"></span>-->
                    </div>
                    <div class="post-footer">
<!--                        <span th:text="'❤️ ' + ${board.likes}"></span>-->
<!--                        <span th:text="'💬 ' + ${board.comments}"></span>-->
                    </div>
                </div>
            </a>
        </th:block>
    </div>
</div>
</html>