<html lang="ko" layout:decorate="~{layout}">
<div layout:fragment="content" class="w-[800px] mx-auto flex flex-col gap-7">
    <form th:action="@{|/board/modify/${id}|}" th:object="${boardForm}" class="flex flex-col gap-7" method="post" enctype="multipart/form-data" id="boardForm">
        <!--  제목 & 내용  -->
        <div>
            <img class="option-icon" src="/img/w.png" style="width:20px;height:20px;">
            <span class="option-title">글쓰기</span>
        </div>
        <input type="title" name="title" class="input" th:field="*{title}" th:value="*{title}" placeholder="제목을 입력해주세요">
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>

        <input type="hidden" name="content" id="editor-body">
        <div id="editor"></div>

        <!-- 장소 입력 -->
        <ul>
            <li>
                <img class="option-icon" src="/img/pin.png" style="width:20px;height:20px;">
                <span class="option-title">장소</span>
            </li>
            <li>
                <input type="text" id="keyword" class="input" th:field="*{restName}" th:value="*{restName}" placeholder="장소를 검색해주세요." readonly onclick="openPlaceSearchPopup()" style="width:100%">
            </li>
            <input type="text" id="sample4_roadAddress" class="input" th:field="*{address}" th:value="*{address}" placeholder="도로명주소" style="width:100%">
            <input type="text" id="sample4_jibunAddress" class="input" th:field="*{jibun}" th:value="*{jibun}" placeholder="지번주소" style="width:100%">
        </ul>

        <!--  사진  -->
        <div>
            <img class="option-icon" src="/img/p.png" style="width:20px;height:20px;">
            <label for="images">이미지</label>
        </div>

        <div class="form-group">
            <input type="file" class="img form-control-file" id="file" name="images"multiple>
        </div>

        <div class="form-group" th:each="image : ${images}">
            <img th:src="@{${image.url}}" class="img-thumbnail" id="currentImage" alt="Image"style="max-width: 200px;">
        </div>

        <!--수정 버튼-->
        <input type="button" class="btn" value="게시물 수정" onclick="aaa()">

        <!-- 회원 정보 -->
        <input type="hidden" id="memberId" name="memberId" th:value="${memberId}">
        <input type="hidden" id="loginId" name="loginId" th:value="${loginId}">
    </form>

    <!-- 주소 검색 script -->
    <script>
        // 장소 검색 팝업 열기
        function openPlaceSearchPopup() {
            window.open('/board/placeSearchPopup', 'placeSearchPopup', 'width=600,height=400,scrollbars=yes,resizable=yes');
        }

        // 선택한 장소 데이터를 받아옴
        function setPlaceData(placeName, roadAddress, jibunAddress) {
            document.getElementById('keyword').value = placeName;
            document.getElementById("sample4_roadAddress").value = roadAddress; // 도로명 주소 필드에 도로명 주소 설정
            document.getElementById("sample4_jibunAddress").value = jibunAddress; // 지번 주소 필드에 지번 주소 설정
        }

        window.addEventListener('message', function(event) {
            // 메시지를 수신하면 해당 데이터를 처리합니다.
            var placeData = event.data;
            var placeName = placeData.placeName;
            var address = placeData.roadAddress;
            var jibunAddress = placeData.jibunAddress;
            setPlaceData(placeName, address, jibunAddress);
        });
    </script>
    <!--  지도 script 끝  -->

    <!-- toast UI Editor -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <!-- Editor's Style -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script th:inline="javascript">
        const Editor = toastui.Editor;
        const editor = new Editor({
            el: document.querySelector('#editor'),
            height: '500px',
            initialEditType: 'markdown',
            previewStyle: 'vertical',
            initialValue: [[${boardForm.content}]]
        });

        editor.getMarkdown();
        function aaa() {

            const form = document.getElementById("boardForm");
            const editorBody = document.getElementById("editor-body");
            const text = editor.getMarkdown();

            editorBody.value = text;

            form.submit();
        }
    </script>
<!--실시간 이미지-->
    <script>
        const fileInput = document.getElementById('file');
        const currentImage = document.getElementById('currentImage');

        fileInput.addEventListener('change', (event) => {
            const file = event.target.files[0];
            if (file && file.type.startsWith('image/')) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    currentImage.src = e.target.result;
                };
                reader.readAsDataURL(file);
            } else {
                currentImage.src = '';
            }
        });
    </script>
</div>
</html>