<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<head>
    <script>
        function submitForm() {
            var selectElement = document.getElementById("sort");
            var selectedOption = selectElement.options[selectElement.selectedIndex].value;
            var url = selectedOption === "date" ? "/board/date" : "/board/popular";
            window.location.href = url;
        }
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="filter-container">
        <div class="collapse bg-base-200">
            <input type="checkbox" />
            <div class="collapse-title text-xl font-medium">
                <img class="category" src="/img/filter.png" style="width:25px;height:25px;" onclick="toggleCategory()">
            </div>
            <form class="collapse-content">
                <div class="category">
                    <span onclick="toggleCategory('location')"><b>지역</b></span><br>
                    <label><input type="checkbox" value="서울"> 서울</label>
                    <label><input type="checkbox" value="경기"> 경기</label>
                    <label><input type="checkbox" value="충북"> 충북</label>
                    <label><input type="checkbox" value="충남"> 충남</label>
                    <label><input type="checkbox" value="전북"> 전북</label>
                    <label><input type="checkbox" value="전남"> 전남</label>
                    <label><input type="checkbox" value="경남"> 경남</label>
                    <label><input type="checkbox" value="경북"> 경북</label>
                    <label><input type="checkbox" value="강원"> 강원</label>
                    <label><input type="checkbox" value="인천"> 인천</label>
                    <label><input type="checkbox" value="대구"> 대구</label>
                    <label><input type="checkbox" value="부산"> 부산</label>
                    <label><input type="checkbox" value="울산"> 울산</label>
                    <label><input type="checkbox" value="대전"> 대전</label>
                    <label><input type="checkbox" value="광주"> 광주</label>
                    <label><input type="checkbox" value="제주"> 제주</label>
                </div>

                <hr>

                <div class="category">
                    <span onclick="toggleCategory('food')"><b>음식</b></span><br>
                    <label><input type="checkbox" value="한식"> 한식</label>
                    <label><input type="checkbox" value="중식"> 중식</label>
                    <label><input type="checkbox" value="일식"> 일식</label>
                    <label><input type="checkbox" value="아시아"> 아시아</label>
                    <label><input type="checkbox" value="양식"> 양식</label>
                    <label><input type="checkbox" value="디저트"> 디저트</label>
                </div>

                <hr>

                <div class="category">
                    <span onclick="toggleCategory('gender')"><b>성별</b></span><br>
                    <label><input type="checkbox" value="여"> 여</label>
                    <label><input type="checkbox" value="남"> 남</label>
                    <label><input type="checkbox" value="무관"> 무관</label>
                </div>
                <div class="submit-container">
                    <input type="submit" class="btn" value="적용">
                </div>
            </form>
        </div>
    </div>

    <form id="sortForm" onchange="submitForm()">
        <label for="sort">정렬:</label>
        <select id="sort" name="sort">
            <option value="date" th:selected="${sort == 'date'}">최신순</option>
            <option value="popular" th:selected="${sort == 'popular'}">인기순</option>
        </select>
    </form>

    <div class="post-container">
        <th:block th:each="board : ${boards}">
            <a class="post" th:href="@{|/board/${board.id}|}">
                <div th:if="${!#lists.isEmpty(board.images)}">
                    <img th:src="${board.images[0].url}" alt="음식사진" style="width:200px; height:100%;">
                </div>
                <div class="post-content">
                    <div class="post-title" th:text="${board.title}"></div>
                    <div class="post-details">
                        <div th:text="${board.restName}"></div>
                        <div th:text="${board.address}"></div>
                    </div>
                    <div class="post-tags">
                        <!--                        <span th:each="tag : ${board.tags}" th:text="${tag}"></span>-->
                    </div>
                    <div class="post-footer">
                        <span th:text="'❤️ ' + ${board.voter.size()}"></span>
                        <span th:text="'💬 ' + ${board.commentList.size()}"></span>
                    </div>
                </div>
            </a>
        </th:block>
    </div>

    <!-- 페이징처리 시작 -->
    <div th:if="${!boards.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!boards.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${boards.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, boards.totalPages-1)}"
                th:if="${page >= boards.number-5 and page <= boards.number+5}"
                th:classappend="${page == boards.number} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!boards.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${boards.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->

</div>
</body>
</html>