<div class="container">
    <!-- Heading -->
    <h1>SIGN IN</h1>

    <!-- Links -->
    <ul class="links">
        <li>
            <a th:href="@{/signup}">회원가입</a>
        </li>
        <li>
            <a th:href="@{/login}">초기화</a>
        </li>
        <li>
            <a th:href="@{/findPw}">비밀번호 찾기</a>
        </li>
    </ul>

    <!-- Form -->
    <form th:action="@{/login}" method="post">
        <!-- id input -->
        <div class="input__block first-input__block">
            <input type="text" placeholder="id" class="input" name="username" id="loginId" />
        </div>
        <!-- password input -->
        <div class="input__block">
            <input type="password" placeholder="Password" class="input" name="password" id="password" />
            <!-- Toggle password visibility icon -->
            <span class="eyes" onclick="togglePasswordVisibility()">👀</span>
            <!-- 로그인이 올바르지 않을 경우 메시지 -->
            <p th:if="${param.error}" class="error-message">로그인에 실패하였습니다.</p>
        </div>
        <!-- sign in button -->
        <button class="signin__btn" sec:authorize="isAnonymous()">로그인</button>
    </form>
    <!-- separator -->
    <div class="separator">
        <p>OR</p>
    </div>
    <!-- google button -->
    <!-- google button -->
    <button class="google__btn">
        <a class="fa fa-google" href="/oauth2/authorization/google">Sign in with Google</a>
    </button>
</div>


<style>
    body {
        font-family: 'Montserrat', sans-serif;
        background: white;
    }

    .container {
        display: block;
        max-width: 680px;
        width: 80%;
        margin: 120px auto;
    }

    h1 {
        color: #e91e63;
        font-size: 48px;
        letter-spacing: -3px;
        text-align: center;
        margin: 120px 0 80px 0;
        transition: .2s linear;
    }

    .links {
        list-style-type: none;
    }

    .links li {
        display: inline-block;
        margin: 0 20px 0 0;
        transition: .2s linear;
    }

    .links li:nth-child(2) {
        opacity: .6;
    }

    .links li:nth-child(2):hover {
        opacity: 1;
    }

    .links li:nth-child(3) {
        opacity: .6;
        float: right;
    }

    .links li:nth-child(3):hover {
        opacity: 1;
    }

    .links a {
        text-decoration: none;
        color: #0f132a;
        font-weight: bolder;
        text-align: center;
        cursor: pointer;
    }

    form {
        width: 100%;
        max-width: 680px;
        margin: 40px auto 10px;
    }

    .input__block {
        margin: 20px auto;
        display: flex;
        align-items: center;
        position: relative;
    }

    .input__block.first-input__block::before {
        content: "";
        position: absolute;
        top: -15px;
        left: 50px;
        display: block;
        width: 0;
        height: 0;
        background: transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid rgba(15, 19, 42, .1);
        transition: .2s linear;
    }

    .input__block.signin-input__block::before {
        content: "";
        position: absolute;
        top: -15px;
        left: 150px;
        display: block;
        width: 0;
        height: 0;
        background: transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid rgba(15, 19, 42, .1);
        transition: .2s linear;
    }

    .input__block input {
        display: block;
        width: calc(100% - 40px);
        height: 50px;
        margin: 0 auto;
        border-radius: 8px;
        border: none;
        background: rgba(15, 19, 42, .1);
        color: rgba(15, 19, 42, 1); /* 텍스트 색상을 항상 검정색으로 설정 */
        padding: 0 15px;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }

    .input__block input:focus,
    .input__block input:active {
        outline: none;
        border: none;
        color: rgba(15, 19, 42, 1); /* 포커스 상태에서도 검정색 유지 */
    }

    .input__block .eyes {
        position: absolute;
        right: 15px;
        font-size: 22px;
        cursor: pointer;
    }

    .signin__btn {
        background: #e91e63;
        color: white;
        display: block;
        width: 92.5%;
        max-width: 680px;
        height: 50px;
        border-radius: 8px;
        margin: 0 auto;
        border: none;
        cursor: pointer;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 0 15px 30px rgba(233, 30, 99, .36);
        transition: .2s linear;
    }

    .signin__btn:hover {
        box-shadow: 0 0 0 rgba(233, 30, 99, 0);
    }

    .separator {
        display: block;
        margin: 30px auto 10px;
        text-align: center;
        height: 40px;
        position: relative;
        background: transparent;
        color: rgba(15, 19, 42, .4);
        font-size: 13px;
        width: 90%;
        max-width: 680px;
    }

    .separator::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        background: rgba(15, 19, 42, .2);
        height: 1px;
        width: 45%;
    }

    .separator::after {
        content: "";
        position: absolute;
        top: 8px;
        right: 0;
        background: rgba(15, 19, 42, .2);
        height: 1px;
        width: 45%;
    }

    .google__btn {
        display: block;
        width: 90%;
        max-width: 680px;
        margin: 20px auto;
        height: 50px;
        cursor: pointer;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        border-radius: 8px;
        border: none;
        line-height: 40px;
    }

    .google__btn.google__btn {
        background: #5b90f0;
        color: white;
        box-shadow: 0 15px 30px rgba(91, 144, 240, .36);
        transition: .2s linear;
        text-decoration: none;
    }

    .google__btn.google__btn a {
        font-size: 20px;
        padding: 0 5px 0 0;
        color: white;
        text-decoration: none;
    }

    .google__btn.google__btn:hover {
        box-shadow: 0 0 0 rgba(91, 144, 240, 0);
    }

</style>
<script>
    function togglePasswordVisibility() {
    var passwordInput = document.getElementById('password');
    if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
    } else {
        passwordInput.type = 'password';
    }
}
</script>