<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="container">
        <div class="profile-photo">
            <img th:src="${member.url != null} ? ${member.url} : '/img/user.png'" alt="Profile Image">
        </div>
        <div class="member-info">
            <p><strong>닉네임:</strong> <span th:text="${member.nickname}"></span></p>
            <p><strong>팔로워:</strong> <span th:text="${myFollowers != null ? #lists.size(myFollowers) : 0}"></span></p>
            <p><strong>팔로잉:</strong> <span th:text="${myFollowing != null ? #lists.size(myFollowing) : 0}"></span></p>
        </div>
        <!-- 팔로우/언팔로우 버튼 -->
        <div class="follow-button-container">
            <form id="followForm" th:action="@{/api/follow/{id}(id=${member.id})}" method="post">
                <button type="submit" class="btn" id="followButton" th:text="${following ? '언팔로우' : '팔로우'}"></button>
                <input type="hidden" name="_method" th:value="${following ? 'delete' : 'post'}">
            </form>
        </div>

        <!-- 프로필 수정 버튼 -->
        <div class="button-container" th:if="${loggedInMemberId == member.id}">
            <a th:href="@{/modifyProfile}">프로필 수정</a>
        </div>

        <h2>올린 게시물</h2>
        <div class="posts">
            <!-- 각 게시물에 링크 추가 -->
            <div th:each="post : ${member.boardList}" class="post">
                <a th:href="@{|/board/${post.id}|}"> <!-- 게시물로 이동하는 링크 -->
                    <div style="flex: 1; overflow: hidden;">
                        <div th:if="${not #lists.isEmpty(post.images)}" style="height: 300px;">
                            <img th:src="${post.images[0].url}" alt="게시물 이미지" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                    </div>
                </a>
            </div>
            <div th:if="${#lists.isEmpty(member.boardList)}" class="post">
                <p>작성한 게시물이 없습니다.</p>
            </div>
        </div>
    </div>
</div>

<!--<script>-->
<!--    document.getElementById('followButton').addEventListener('click', function() {-->
<!--        var form = document.getElementById('followForm');-->
<!--        var button = document.getElementById('followButton');-->

<!--        // 버튼 비활성화-->
<!--        button.disabled = true;-->

<!--        // 폼 제출-->
<!--        form.submit();-->
<!--    });-->
<!--</script>-->
</html>