<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="container">
        <div class="profile-photo">
            <img th:src="${member.url != null} ? ${member.url} : '/img/user.png'" alt="Profile Image">
        </div>
        <div class="member-info">
            <p><strong>닉네임:</strong> <span th:text="${member.nickname}"></span></p>
<!--            <p><strong>팔로워:</strong> <span th:text="${member.followers}"></span></p>-->
<!--            <p><strong>팔로잉:</strong> <span th:text="${member.following}"></span></p>-->
        </div>
        <div class="button-container">
            <a th:href="@{/modifyProfile}">프로필 수정</a>
            <a th:href="@{/community/add}">게시물 등록하기</a>
        </div>
        <h2>내가 올린 게시물</h2>
<!--        <div class="posts">-->
<!--            <div th:each="post : ${member.posts}" class="post">-->
<!--                <img th:src="@{|${post.postPhoto != null ? ${post.postPhoto} : '/pimg/default_post.png'}|}" alt="Post Image">-->
<!--            </div>-->
<!--            <div th:if="${#lists.isEmpty(member.posts)}" class="post">-->
<!--                <p>작성한 게시물이 없습니다.</p>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
</html>